.cadastro h1{
    margin-top: 30px;

}

.cadastro label{

    margin-top: 20px;
}


#pesquisar {
    width: 40%;
}

.consulta .btn {
    padding: 4px 30px;
}

.pesquisa h1 {
    padding: 4px 30px;
}


@media screen and (max-width: 600px) {
    .cadastro input{
        width: 100%;
    }
    .consulta input{
        width: 100%;
    }
    
}